**/.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Logs
logs/
*.log

# SQLite / DB files
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
__pycache__/


__pycache__/

